.ListView {
    margin: 2rem;
}

.ListView__device_thumbnail {
    height: 6rem;
    width: 6rem;
}

.ListView__deviceList {
    background-color: #F6F6F8;
    margin: 1rem 0;
    padding: 0.5rem;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

ul {
    list-style: none;
}

li {
    margin: 0.5rem 0rem;
    list-style: none;
}

a {
    text-decoration: none;
    color:  rgba(0, 0, 0, 0.65);
}

p, h4 {
    opacity: 0.4;
    font-weight: 200;
}

p {
    margin: 1rem 0rem;
}

hr {
    opacity: 0.3;
}